body#tinymce.wp-editor {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif; }
  body#tinymce.wp-editor blockquote {
    position: relative;
    font-size: 120%;
    margin: 20px 0;
    padding: 0 30px;
    clear: both; }
    body#tinymce.wp-editor blockquote:before {
      content: '\201C';
      position: absolute;
      top: -15px;
      left: 0;
      font-size: 42px;
      color: #425d9d; }
    body#tinymce.wp-editor blockquote.warning {
      background: #fff4d4 url(../images/blockquote-warning.png) 20px center no-repeat;
      font-size: 100%;
      padding: 20px 30px 10px 80px;
      border-radius: 6px; }
      body#tinymce.wp-editor blockquote.warning:before {
        display: none; }
    body#tinymce.wp-editor blockquote.info {
      background: #e3f1f4 url(../images/blockquote-info.png) 20px center no-repeat;
      font-size: 100%;
      padding: 20px 30px 10px 80px;
      border-radius: 6px; }
      body#tinymce.wp-editor blockquote.info:before {
        display: none; }
    body#tinymce.wp-editor blockquote.danger {
      background: #ffe3db url(../images/blockquote-danger.png) 20px center no-repeat;
      font-size: 100%;
      padding: 20px 30px 10px 80px;
      border-radius: 6px; }
      body#tinymce.wp-editor blockquote.danger:before {
        display: none; }
    body#tinymce.wp-editor blockquote.check {
      background: #def9e5 url(../images/blockquote-check.png) 20px center no-repeat;
      font-size: 100%;
      padding: 20px 30px 10px 80px;
      border-radius: 6px; }
      body#tinymce.wp-editor blockquote.check:before {
        display: none; }
    body#tinymce.wp-editor blockquote.quote {
      background: #eff4f5 url(../images/blockquote-quote.png) 20px 20px no-repeat;
      font-size: 100%;
      padding: 20px 30px 10px 80px;
      border-radius: 6px; }
      body#tinymce.wp-editor blockquote.quote:before {
        display: none; }
  body#tinymce.wp-editor table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: collapse; }
    body#tinymce.wp-editor table td, body#tinymce.wp-editor table th {
      border: 1px solid #ccc;
      padding: 7px 12px; }
    body#tinymce.wp-editor table th {
      text-align: left;
      background: #eee; }
  body#tinymce.wp-editor .wpshop-row {
    position: relative;
    border: 1px dotted #ccc;
    padding: 15px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body#tinymce.wp-editor .wpshop-row * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    body#tinymce.wp-editor .wpshop-row:before {
      content: 'columns';
      position: absolute;
      top: -7px;
      left: 10px;
      font-size: 10px;
      background: #fff;
      padding: 0 3px;
      border: 1px dotted #ccc; }
    body#tinymce.wp-editor .wpshop-row:after {
      content: '';
      clear: both;
      display: block; }
  body#tinymce.wp-editor .root-col-6 {
    float: left;
    width: 50%;
    padding: 0 20px;
    border: 1px dotted #aaa; }
  body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
    margin: 1.7em 0 1.8em 1em;
    padding: 0;
    list-style: none; }
    body#tinymce.wp-editor ol *, body#tinymce.wp-editor ul * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      body#tinymce.wp-editor ol *:before, body#tinymce.wp-editor ol *:after, body#tinymce.wp-editor ul *:before, body#tinymce.wp-editor ul *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    body#tinymce.wp-editor ol li, body#tinymce.wp-editor ul li {
      padding-left: 40px;
      margin: .7em 0; }
    body#tinymce.wp-editor ol ol, body#tinymce.wp-editor ol ul, body#tinymce.wp-editor ul ol, body#tinymce.wp-editor ul ul {
      margin-top: 0;
      margin-bottom: 0; }
  body#tinymce.wp-editor ol {
    counter-reset: point; }
    body#tinymce.wp-editor ol li:before {
      content: counter(point);
      counter-increment: point 1;
      display: inline-block;
      width: 27px;
      height: 27px;
      margin: 0 13px 0 -40px;
      text-align: center;
      border: 2px solid #425d9d;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }
    body#tinymce.wp-editor ol ol > li {
      padding-left: 44px; }
      body#tinymce.wp-editor ol ol > li:before {
        counter-increment: point 1;
        content: counters(point,".") ".";
        border: none;
        width: auto;
        height: auto;
        font-weight: bold; }
    body#tinymce.wp-editor ol ol ol > li {
      padding-left: 57px; }
    body#tinymce.wp-editor ol ol ol ol > li {
      padding-left: 72px; }
    body#tinymce.wp-editor ol ul > li:before, body#tinymce.wp-editor ol ul ul > li:before {
      counter-increment: none; }
  body#tinymce.wp-editor ol[start="1"] {
    counter-reset: point 0; }
  body#tinymce.wp-editor ol[start="2"] {
    counter-reset: point 1; }
  body#tinymce.wp-editor ol[start="3"] {
    counter-reset: point 2; }
  body#tinymce.wp-editor ol[start="4"] {
    counter-reset: point 3; }
  body#tinymce.wp-editor ol[start="5"] {
    counter-reset: point 4; }
  body#tinymce.wp-editor ol[start="6"] {
    counter-reset: point 5; }
  body#tinymce.wp-editor ol[start="7"] {
    counter-reset: point 6; }
  body#tinymce.wp-editor ol[start="8"] {
    counter-reset: point 7; }
  body#tinymce.wp-editor ol[start="9"] {
    counter-reset: point 8; }
  body#tinymce.wp-editor ol[start="10"] {
    counter-reset: point 9; }
  body#tinymce.wp-editor ol[start="11"] {
    counter-reset: point 10; }
  body#tinymce.wp-editor ol[start="12"] {
    counter-reset: point 11; }
  body#tinymce.wp-editor ol[start="13"] {
    counter-reset: point 12; }
  body#tinymce.wp-editor ol[start="14"] {
    counter-reset: point 13; }
  body#tinymce.wp-editor ol[start="15"] {
    counter-reset: point 14; }
  body#tinymce.wp-editor ol[start="16"] {
    counter-reset: point 15; }
  body#tinymce.wp-editor ol[start="17"] {
    counter-reset: point 16; }
  body#tinymce.wp-editor ol[start="18"] {
    counter-reset: point 17; }
  body#tinymce.wp-editor ol[start="19"] {
    counter-reset: point 18; }
  body#tinymce.wp-editor ol[start="20"] {
    counter-reset: point 19; }
  body#tinymce.wp-editor ol[start="21"] {
    counter-reset: point 20; }
  body#tinymce.wp-editor ol[start="22"] {
    counter-reset: point 21; }
  body#tinymce.wp-editor ol[start="23"] {
    counter-reset: point 22; }
  body#tinymce.wp-editor ol[start="24"] {
    counter-reset: point 23; }
  body#tinymce.wp-editor ol[start="25"] {
    counter-reset: point 24; }
  body#tinymce.wp-editor ol[start="26"] {
    counter-reset: point 25; }
  body#tinymce.wp-editor ol[start="27"] {
    counter-reset: point 26; }
  body#tinymce.wp-editor ol[start="28"] {
    counter-reset: point 27; }
  body#tinymce.wp-editor ol[start="29"] {
    counter-reset: point 28; }
  body#tinymce.wp-editor ol[start="30"] {
    counter-reset: point 29; }
  body#tinymce.wp-editor ol[start="31"] {
    counter-reset: point 30; }
  body#tinymce.wp-editor ol[start="32"] {
    counter-reset: point 31; }
  body#tinymce.wp-editor ol[start="33"] {
    counter-reset: point 32; }
  body#tinymce.wp-editor ol[start="34"] {
    counter-reset: point 33; }
  body#tinymce.wp-editor ol[start="35"] {
    counter-reset: point 34; }
  body#tinymce.wp-editor ol[start="36"] {
    counter-reset: point 35; }
  body#tinymce.wp-editor ol[start="37"] {
    counter-reset: point 36; }
  body#tinymce.wp-editor ol[start="38"] {
    counter-reset: point 37; }
  body#tinymce.wp-editor ol[start="39"] {
    counter-reset: point 38; }
  body#tinymce.wp-editor ol[start="40"] {
    counter-reset: point 39; }
  body#tinymce.wp-editor ol[start="41"] {
    counter-reset: point 40; }
  body#tinymce.wp-editor ol[start="42"] {
    counter-reset: point 41; }
  body#tinymce.wp-editor ol[start="43"] {
    counter-reset: point 42; }
  body#tinymce.wp-editor ol[start="44"] {
    counter-reset: point 43; }
  body#tinymce.wp-editor ol[start="45"] {
    counter-reset: point 44; }
  body#tinymce.wp-editor ol[start="46"] {
    counter-reset: point 45; }
  body#tinymce.wp-editor ol[start="47"] {
    counter-reset: point 46; }
  body#tinymce.wp-editor ol[start="48"] {
    counter-reset: point 47; }
  body#tinymce.wp-editor ol[start="49"] {
    counter-reset: point 48; }
  body#tinymce.wp-editor ol[start="50"] {
    counter-reset: point 49; }
  body#tinymce.wp-editor ul > li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #5a80b1;
    margin: 0 22px 0 -30px; }
  body#tinymce.wp-editor .entry-content ul > li:before, body#tinymce.wp-editor .entry-content ul ul > li:before {
    counter-increment: none; }
  body#tinymce.wp-editor .alignleft {
    margin-right: 45px; }
  body#tinymce.wp-editor .alignright {
    margin-left: 45px; }
